<div style="margin-top:50px">
	<h1><span class="label label-primary">
			About Me
		</span></h1>
</div>
<div class="row" style="margin-top:100px">
	<div class="col-md-2 col-md-offset-3">
		<div class="panel panel-default">
		  <div class="panel-body">
		  	<div class="text-left">
		    I like to imagine what could be rather than feel constrained by what is
	    	</div>
		  </div>
		</div>
	</div>
</div>

<div class="row" style="margin-top:10px">
	<div class="col-md-3 col-md-offset-6">
		<div class="panel panel-default">
		  <div class="panel-body">
		  	<div class="text-left">
		    Everyday I want to: 
		    <ul><li>laugh a little</li><li>feel love</li><li>learn something new</li><li>get something done</li></ul>
		  </div>
		  </div>
		</div>
	</div>
</div>

<div style="margin-left:20px">
	<button id="airplaneIcon1" type="button" class="btn btn-default btn-lg" data-placement="right" data-content="I like things that remind me of my childhood.">
	  <span class="glyphicon glyphicon-send"></span>
	</button>
</div>

<div class="row" style="margin-top:50px">
	<div class="col-md-2 col-md-offset-9">
		<div class="panel panel-default">
		  <div class="panel-body">
		  	<div class="text-left">
		    I like to play with technology
		  </div>
		  </div>
		</div>
	</div>
</div>

<div class="row" style="margin-top:50px">
	<div class="col-md-2 col-md-offset-2">
		<div class="panel panel-default">
		  <div class="panel-body">
		  	<div class="text-left">
		    I like making machines do things from my imagination
		  </div>
		  </div>
		</div>
	</div>
</div>

<script type="text/javascript">
$.backstretch( "<%= image_path("abstract1.jpg") %>" );
$('#airplaneIcon1').popover('show');
</script>